.infos {
  text-align:center;
  margin-top : 50px;
  font-size : 30px;
}

h2 {
  text-align: center;
  margin-top:150px;
}

.duree {
  text-align: center;
  margin-top:70px;
}

.ingredients {
  background-color : lightblue;
  width :30%;
  margin-top:40px;
}

.liste {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align :center;
}